certifi==2026.5.20
charset-normalizer==3.4.7
dnspython==2.8.0
idna==3.17
joblib==1.5.3
numpy==2.4.6
pandas==3.0.3
pymongo==4.17.0
python-dateutil==2.9.0.post0
requests==2.34.2
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
threadpoolctl==3.6.0
tzdata==2026.2
urllib3==2.7.0
